.login-page{
    background: white;
}

.login-logo{
    padding-left: 20px;
    text-align: left;
    margin-bottom: 0;
}

.login-box-body{
    padding-top: 5px;
}

.login-box-msg{
    text-align: left;
    padding: 0;
    padding-left: 1px;
    color: #333;
    font-size: 20px;
    margin-bottom: 10px;
}

.login-box-body input[type="text"], .login-box-body input[type="email"], .login-box-body input[type="password"], .login-box-body textarea {
    background-color : #F9F9F9;
}

.btn-primary,
.btn-primary.active,
.btn-primary.focus,
.btn-primary:active,
.btn-primary:focus,
.btn-primary:hover{
    color: #FFF;
    background-color: #DA6530;
    border-color: #DA6530;
}

.login-box-body a{
    color: #D9662F;
}

.login-box-body .has-feedback .form-control-feedback{
    left: 0;
    color: #FFF;
    background-color: #DA6530;
}

.login-box-body .has-feedback .form-control{
    padding-right: 12px;
    padding-left: 40px;
}

.login-box-body .has-feedback .form-control,
.login-box-body .has-feedback .form-control:active,
.login-box-body .has-feedback .form-control:focus,
.login-box-body .has-feedback .form-control:hover{
    border-color: #DA6530;
}
